<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="worldpay">
      <section name="PayFacMpSDKSettings"
               type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <worldpay>
    <PayFacMpSDKSettings>
      <add key="username" value="user" />
      <add key="password" value="pass" />
      <add key="url" value="https://www.testvantivcnp.com/sandbox/payfac" />
      <add key="printXml" value="true" />
      <add key="proxyHost" value="websenseproxy" />
      <add key="proxyPort" value="8080" />
      <add key="timeout" value="5000" />
      <add key="neuterAccountNums" value="false" />
    </PayFacMpSDKSettings>
  </worldpay>
  <appSettings>
    <!--Your app settings-->

  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
